@import "src/assets/scss/colors.scss";

.button {
  display: inline-grid;
  color: $alice-blue;
  background-color: $poppy;
  border: none;
  margin: 15px;
  width: 75px;
  justify-items: center;
  justify-content: center;
  justify-self: center;
}

.label {
  align-content: start;
  font-size: 14pt;
}

.icon {
  height: 60%;
  align-items: center;
  align-self: center;
}
