@import "src/assets/scss/colors.scss";

.button {
  display: inline-grid;
  color: $alice-blue;
  background-color: $poppy;
  border: none;
  margin: 15px;
  width: 75px;
  justify-items: center;
  height: inherit;
}

.label {
  margin: 10%;
  align-content: start;
}

.icon {
  height: 55;
  align-items: center;
  align-self: center;
}
