@import "src/assets/scss/colors.scss";

.variables {
  width: 60%;
  display: inline;
  align-items: start;
  background-color: $honululu-blue;
  color: $alice-blue;
  align-self: center;
  text-align: center;
  font-size: 16pt;
  list-style-type: disc;
  text-indent: 12px;
  margin: 2%;
  padding: 2%;
}

.label {
  padding: 1%;
}
