@import "src/assets/scss/colors.scss";

.variables {
  width: 100%;
  color: $alice-blue;
  text-align: center;
  font-size: 16pt;
  height: 10%;
  display: inline-flex;
  align-self: center;
  align-items: center;
}

.container {
  background-color: $honululu-blue;
  width: 60%;
  height: 100%;
  padding: 2%;
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.label {
  padding: 1%;
}
