@import "src/assets/scss/colors.scss";

.toolbar {
  width: 100%;
  height: 140px;
  padding-top: 10px;
  display: inline-flex;
  background-color: $poppy;
  align-self: center;
  align-items: center;
}
