@import "src/assets/scss/colors.scss";

.toolbar {
  width: 100%;
  height: 15%px;
  padding-top: 10px;
  display: inline-flex;
  background-color: $poppy;
  justify-items: center;
  justify-content: center;
}
